<template>
    <el-menu default-active="2"
             class="el-menu-vertical-demo"
             :collapse="isCollapse"
             @open="handleOpen"
             @close="handleClose"
             router=true>
        <el-menu-item index="/quoter">
            <template #title>
                <el-icon><location /></el-icon>
                <span>Busqueda</span>
            </template>
        </el-menu-item>
        <el-menu-item index="/channels">
            <el-icon><setting /></el-icon>
            <template #title>
                Canales
            </template>
        </el-menu-item>
    </el-menu>
</template>

<script lang="ts" setup>
    import { ref } from 'vue'
    import {
        Location,
        Document,
        Menu as IconMenu,
        Setting,
    } from '@element-plus/icons-vue'

    const isCollapse = ref(false)
    const handleOpen = (key: string, keyPath: string[]) => {
        console.log(key, keyPath)
    }
    const handleClose = (key: string, keyPath: string[]) => {
        console.log(key, keyPath)
    }
</script>

