<script lang="ts" setup>
import { toggleDark } from '~/composables';
</script>

<template>
    <el-menu class="el-menu-demo" mode="horizontal" :ellipsis="false">
        <el-image style="width: 65px; height: 58px" src="https://static.cdnpth.com/img/pricetravel/favicon.ico" fit="none" />
        <el-menu-item index="0">PriceTravel - Cotizador de Mayoristas</el-menu-item>
        <div class="flex-grow" />
        <el-menu-item h="full" @click="toggleDark()">
            <button class="border-none w-full bg-transparent cursor-pointer" style="height: var(--ep-menu-item-height);">
                <i inline-flex i="dark:ep-moon ep-sunny" />
            </button>
        </el-menu-item>
    </el-menu>
</template>
