<template>
    <el-form label-position="top">
        <el-row :gutter="20">
            <el-col :span="8">
                <el-form-item required :error="quoteStore.errors.queryHotelid" label="Hotel ID">
                    <el-autocomplete v-model="quoteStore.quote.hotelIds[0]" value-key="code" :trigger-on-focus="false"
                        :fetch-suggestions="getHotels" clearable class="w-100-inp" placeholder="Hotel or ID">
                        <template #default="{ item }">
                            <div class="value">{{ item.name }}</div>
                        </template>
                    </el-autocomplete>
                </el-form-item>
            </el-col>
            <el-col :span="8">
                <el-form-item label="Source Market">
                    <el-select value-key="code" v-model="quoteStore.quote.market" class="w-100-inp" placeholder="Todos">
                        <el-option v-for="item in quoteStore.sourceMarket" :label="'(' + item.code + ') ' + item.name"
                            :value="item.code" />
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="8">
                <el-form-item label="Channel ID">
                    <el-select value-key="id" v-model="quoteStore.channel" class="w-100-inp" placeholder="Todos">
                        <el-option :value="undefined" selected label="Todos"></el-option>
                        <el-option v-for="item in quoteStore.channels"
                            :label="item.id < 1 ? '' + item.name : '(' + item.id + ') ' + item.name" :value="item" />
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :span="8">
                <el-form-item :error="quoteStore.errors.checking" label="Dates">
                    <el-date-picker type="daterange" range-separator="-" start-placeholder="Checking"
                        end-placeholder="Checkout" value-format="YYYY-MM-DD" v-model="quoteStore.qDates"
                        @change="quoteStore.updateDates(quoteStore.qDates)" placeholder="Checking" />
                </el-form-item>
            </el-col>
            <el-col :span="8">
                <el-row :gutter="20">
                    <el-col :span="12">
                        <el-form-item label="Adults">
                            <el-input-number :min="1" :max="12" class="w-100-inp" v-model="quoteStore.adults"
                                placeholder="Quantity" />
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="Kids">
                            <el-input-number :min="0" :max="10" class="w-100-inp" v-model="quoteStore.kids"
                                placeholder="Quantity" />
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-col>
            <el-col :span="8">
                <el-row :gutter="40">
                    <el-col v-for="(i, index) in +quoteStore.kids" :key="index" :span="12">
                        <el-form-item required :label="'Kid ' + i">
                            <el-input class="w-100-inp" :minlength="1" :maxlength="2" :min="1" :max="12"
                                v-model="quoteStore.kidsAge[index]" placeholder="Kid Age" />
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-col>
        </el-row>
        <el-row :gutter="0">
            <el-col :span="8">
                <el-form-item>
                    <el-col :span="12">
                        <el-form-item>
                            <el-button type="primary" class="w-100" :disabled="quoteStore.loading"
                                @click="quoteStore.createQuotes()">Quote</el-button>
                        </el-form-item>
                    </el-col>
                </el-form-item>
            </el-col>
        </el-row>
    </el-form>
</template>


  

<script lang="ts" setup>
import { useQuoteStore } from '../../store/quoteStore'

const quoteStore = useQuoteStore();

computed: {
    quoteStore.quote.checkIn = quoteStore.qDates[0]
    quoteStore.quote.checkOut = quoteStore.qDates[1]
}

async function getHotels(query: string, callback: any) {
    var hotels = await quoteStore.selectHotels(query);
    callback(hotels);
}
</script>

<style>
.w-100-inp {
    width: 100%;
}
</style>