<template>

    <el-card class="quote-table" shadow="hover">
        <el-row :gutter="6">
            <el-col :span="2">
                {{ props.channel }}
            </el-col>
            <el-col :span="22">
                No data found on this channel
            </el-col>
        </el-row>
    </el-card>


</template>

<script lang="ts" setup>

import { useQuoteStore } from '../../store/quoteStore'


export interface Props {
    channel: string,
}
const quoteStore = useQuoteStore();
const props = defineProps<Props>()

</script>

<style>

</style>