<template>

    <el-card class="quote-table" shadow="hover">
        <el-row :gutter="6">
            <el-col :span="3">
                    {{ props.channelName }}
            </el-col>
            <el-col :span="5">
                {{ props.nombre }}
            </el-col>
            <el-col :span="4">
                {{ props.mealPlan }}
            </el-col>
            <el-col :span="2">
                {{ props.contractId }}
            </el-col>
            <el-col :span="4">
                {{ '('+props.currency+')' }} {{ props.neta }}
            </el-col>
            <el-col :span="4">
                {{ '('+props.currency+')' }}  {{ props.publica }}
            </el-col>
            <el-col :span="2">
                {{ props.margen }}%
            </el-col>
        </el-row>
    </el-card>


</template>

<script lang="ts" setup>

import { useQuoteStore } from '../../store/quoteStore'


export interface Props {
    channelName: string,
    channel: string,
    nombre: string,
    mealPlan: string,
    contractId: string,
    neta: string,
    publica: string,
    margen: string,
    currency: string
}
const quoteStore = useQuoteStore();
const props = defineProps<Props>()

</script>

<style>

</style>