<template>
    <div>
        <el-card>
            <el-row :gutter="6">
                <el-col :span="3">
                    Channel
                </el-col>
                <el-col :span="5">
                    Nombre
                    <el-link class="filter" :class="quoteStore.sort ? 'filter-active':''" :disabled="!quoteStore.sort" v-on:click="quoteStore.sort = !quoteStore.sort"
                        @click="quoteStore.sortingByName()" :underline="false"><el-icon><Filter /></el-icon></el-link>
                </el-col>
                <el-col :span="4">
                    MealPlan
                </el-col>
                <el-col :span="2">
                    Contract ID
                </el-col>
                <el-col :span="4">
                    Neta
                </el-col>
                <el-col :span="4">
                    Publica
                    <el-link class="filter" :class="!quoteStore.sort ? 'filter-active':''" :disabled="quoteStore.sort" v-on:click="quoteStore.sort = !quoteStore.sort"
                        @click="quoteStore.sortingByNeta()" :underline="false"><el-icon><Filter /></el-icon></el-link>
                </el-col>
                <el-col :span="2">
                    Margen
                </el-col>
            </el-row>
        </el-card>
        <div v-if="(quoteStore.listRooms.length > 0)">
            <br>

            <div v-for="item in quoteStore.listRooms">

                <Item :currency="item.currency" :channel-name="item.channelName" :channel="item.channelName"
                    :nombre="item.nombre" :meal-plan="item.mealPlan" :contract-id="item.contractId" :neta="item.neta"
                    :publica="item.publica" :margen="item.margen">
                </Item>

            </div>
        </div>
        <div v-for="item in quoteStore.listRoomErrors">
            <div class="text-center">
                <ItemError :channel="item"></ItemError>
            </div>
        </div>
    </div>

</template>

<script lang="ts" setup>
import { useQuoteStore } from '../../store/quoteStore'
import Item from './Item.vue'
import ItemError from './ItemError.vue';
import { Filter} from '@element-plus/icons-vue'

const quoteStore = useQuoteStore();
quoteStore.loadChannels();

</script>}
<style>

.filter{
    padding: 0;
    width: 30px;
    height: 30px;
}
.filter-active{
    color: #ea0074 ;
    border: black;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}

</style>